---
---

@import "{{ site.theme }}";

body {
  background: black;
  color: white;
}

h1 {
  color: #00BFFF;
}

h2 {
  color: #1E90FF;
}

h3 {
  color: #4169E1;
}

h4 {
  color: #6495ED;
}

h5 {
  color: #87CEFA;
}

h6 {
  color: #B0E0E6;
}
