---
---

@import "{{ site.theme }}";

body {
  background: black;
  color: white;
}

h1 {
  color: #FF4500;
}

h2 {
  color: #1FF6347;
}

h3 {
  color: #FF7F50;
}

h4 {
  color: #FFA500;
}

h5 {
  color: #FFD700;
}

h6 {
  color: #FFFF00;
}
